requests
alerce
click
astropy
numpy
pandas
scipy
GPy
sklearn
imblearn
Jinja2
tqdm
matplotlib
Cython >=0.29
P4J
-e git+https://git@github.com/alercebroker/mhps#egg=mhps
-e git+https://git@github.com/alercebroker/turbo-fats#egg=turbo-fats