requests
alerce
click
astropy
numpy
pandas
scipy
GPy
sklearn
imblearn
Jinja2
tqdm
matplotlib
tensorflow
-e git+https://git@github.com/alercebroker/mhps#egg=mhps
-e git+ssh://git@github.com/alercebroker/turbo-fats@paper_paula#egg=turbo-fats
